<div class="randomBeerPartial">
    <img src="{{image_url}}">
    <div class="descritipn">
        <h2>{{name}}</h2>
        <p>{{description}}</p>
        <p>{{tagline}}</p>
        <p>{{food_pairing}}</p>
        <p>{{brewer_tips}}</p>
    </div>
</div>